<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "SuiteNavi">

    <test name = "FloydSessionTests">
        <classes>
            <class name = "test.FloydAlgTest" />
            <class name = "test.SessionTest" />
        </classes>
    </test>


</suite>